.panel-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px;
}
.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-description {
  padding: 10px 15px;
}
.post .post-description p {
  font-size: 16px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 10px;
}